.auto-style2 {
    width: 185px;
    border-top: 3px solid #ffeeaa;
    border-bottom: 3px solid #ffeeaa;
    border-right: 3px solid #ffeeaa;
    border-left: 3px solid #ffeeaa;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4%;
}

.auto-style4 {
    width: 399px;
    border-top: 3px solid #ffeeaa;
    border-bottom: 3px solid #ffeeaa;
    border-right: 3px solid #ffeeaa;
    border-left: 3px solid #ffeeaa;
    padding-left: 4%;
}

.form {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 120%;
    font-family: 'Raleway', sans-serif;
    margin-left: 0px;
}

.divider {
    border-top: 4px solid #ffeeaa;
    margin-top: 20px;
    margin-bottom: 20px;
}

.auto-style8 {
    margin-left: 60px;
}

.back {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 120%;
}

.h2 {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 350%;
    font-family: 'Raleway', sans-serif;
    margin-left: 250px;
}

.h4 {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 110%;
    font-family: 'Raleway', sans-serif;
    margin-left: 450px;
    margin-top: -30px;
}

.image-and-text {
    display: inline-block;
    vertical-align: middle;
}

#imgFlight {
    vertical-align: middle;
    margin-left: 550px;
}

#Image1 {
    vertical-align: middle;
    margin-left: 320px;
}

.auto-style9 {
    width: 100%;
}

.datePicker {
    border-color: white;
}

    .datePicker th, .datePicker td {
        border: 1px solid white;
        color: #7e96bc !important;
    }

        .datePicker a, .datePicker td a {
            color: #7e96bc !important;
        }
